# Konfio Challenge

## Business Undestanding

### Questions to answer 

- Pick the best clients you will give a loan to, based on the model you created. It
could be as complex as you decide (even as simpler as knock out rules), as long as
the metrics support it
- Propose an amount to be lended to those clients and a term in which the loan will
need to be paid back.
- Finally choose an anual interest rate the lended amount must have in order to be
profitable.

## Data Understanding

Packages

In [19]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import date, datetime

Read datasets

In [52]:
data_users = pd.read_csv('data/users.csv')
#data_credit_reports = pd.read_csv('data/credit_reports.csv')
data_credit_reports = pd.read_csv('data/credit_reports.csv', parse_dates=['account_opening_date', 'account_closing_date'])

In [ ]:
data_credit_reports['worst_delinquency_date'].unique().tolist()

In [54]:
data_credit_reports['worst_delinquency_date'].replace({"0000-00-00": np.NaN}, inplace=True)
data_credit_reports['worst_delinquency_date'] = pd.to_datetime(data_credit_reports['worst_delinquency_date'], 
                                                              format='%m/%d/%y')

In [ ]:
data

In [5]:
data_users.head(10)

   id  monthly_income  monthly_outcome  class
0   0          255359           151439      1
1   1            8940              789      0
2   2           11436             3316      0
3   3           17143            47547      1
4   4           26990            15585      1
5   5             166             5240      0
6   6          111662           108374      1
7   7            6271            44469      1
8   8           31695             3021      0
9   9         2401260          6496313      0

In [55]:
data_credit_reports.head(15)

,user_id,institution,account_type,credit_type,total_credit_payments,payment_frequency,amount_to_pay_next_payment,account_opening_date,account_closing_date,maximum_credit_amount,current_balance,credit_limit,past_due_balance,number_of_payments_due,worst_delinquency,worst_delinquency_date,worst_delinquency_past_due_balance
0,0,MERCANCIA PARA HOGAR Y OFICINA,Pagos Fijos,Línea de Crédito,78.0,Semanal,0.0,2014-11-10,2015-12-05,9826.0,0.0,0.0,0.0,0.0,0.0,NaT,0.0
1,0,MERCANCIA PARA HOGAR Y OFICINA,Pagos Fijos,Préstamo Personal,80.0,Semanal,0.0,2015-12-05,2016-10-14,16000.0,0.0,0.0,0.0,3.0,1.0,2016-05-28,200.0
2,0,MERCANCIA PARA HOGAR Y OFICINA,Pagos Fijos,Línea de Crédito,102.0,Semanal,100.0,2016-09-02,NaT,10205.0,3505.0,0.0,0.0,3.0,1.0,2017-03-03,100.0
3,0,MERCANCIA PARA HOGAR Y OFICINA,Pagos Fijos,Préstamo Personal,120.0,Semanal,191.0,2016-10-14,NaT,22920.0,11269.0,0.0,0.0,3.0,1.0,2017-03-03,191.0
4,0,KONFIO,Pagos Fijos,Préstamo Personal,12.0,Quincenal,0.0,2016-12-27,2017-06-27,150000.0,0.0,0.0,0.0,0.0,0.0,NaT,0.0
5,0,KONFIO,Pagos Fijos,Préstamo Personal,26.0,Quincenal,10825.0,2017-06-28,NaT,225000.0,159142.0,0.0,0.0,0.0,0.0,NaT,0.0
6,0,TELEFONIA CELULAR,Revolvente,Línea de Crédito,1000.0,Mensual,0.0,2016-10-06,2017-09-15,0.0,0.0,999.0,0.0,7.0,4.0,2017-05-31,4342.0
7,0,MERCANCIA PARA HOGAR Y OFICINA,Sin Límite Preestablecido,Crédito Personal al Consumo,0.0,Semanal,0.0,2014-11-10,NaT,0.0,0.0,0.0,0.0,0.0,0.0,NaT,0.0
8,0,AUTOMOTRIZ,Pagos Fijos,Compra de Automóvil,72.0,Mensual,5874.0,2017-08-22,NaT,513069.0,475245.0,513069.0,0.0,0.0,0.0,NaT,0.0
9,0,AUTOMOTRIZ,Pagos Fijos,Compra de Automóvil,24.0,Mensual,10557.0,2017-01-31,NaT,247705.0,124316.0,247705.0,0.0,0.0,0.0,NaT,0.0
10,0,BANCO,Revolvente,Tarjeta de Crédito,0.0,Mensual,1642.0,2017-04-24,NaT,46307.0,40050.0,43500.0,0.0,0.0,0.0,NaT,0.0
11,0,FINANCIERA,Pagos Fijos,Compra de Automóvil,24.0,Mensual,3069.0,2017-11-08,NaT,57959.0,57959.0,0.0,0.0,0.0,0.0,NaT,0.0
12,0,BANCO,Revolvente,Tarjeta de Crédito,0.0,Mensual,304.0,2016-10-24,NaT,10000.0,6784.0,10000.0,0.0,0.0,0.0,NaT,0.0
13,0,COMUNICACIONES,Sin Límite Preestablecido,Línea de Crédito,1.0,Mensual,0.0,2016-09-02,NaT,3068.0,0.0,0.0,0.0,0.0,0.0,NaT,0.0
14,0,TIENDA COMERCIAL,Revolvente,Línea de Crédito,0.0,Mensual,1369.0,2016-09-25,NaT,6997.0,4206.0,10000.0,0.0,0.0,0.0,NaT,0.0

In [56]:
data_credit_reports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16309 entries, 0 to 16308
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   user_id                             16309 non-null  int64
 1   institution                         16309 non-null  object
 2   account_type                        16309 non-null  object
 3   credit_type                         16309 non-null  object
 4   total_credit_payments               16268 non-null  float64
 5   payment_frequency                   16308 non-null  object
 6   amount_to_pay_next_payment          16304 non-null  float64
 7   account_opening_date                16309 non-null  datetime64[ns]
 8   account_closing_date                9068 non-null   datetime64[ns]
 9   maximum_credit_amount               16307 non-null  float64
 10  current_balance                     16304 non-null  float64
 11  credit_limit                        16296 non-null  float64
 12  past_due_balance                    16304 non-null  float64
 13  number_of_payments_due              16297 non-null  float64
 14  worst_delinquency                   16255 non-null  float64
 15  worst_delinquency_date              2884 non-null   datetime64[ns]
 16  worst_delinquency_past_due_balance  16297 non-null  float64
dtypes: datetime64[ns](3), float64(9), int64(1), object(4)
memory usage: 2.1+ MB

In [39]:
data_credit_reports.describe()

,user_id,total_credit_payments,amount_to_pay_next_payment,maximum_credit_amount,current_balance,credit_limit,past_due_balance,number_of_payments_due,worst_delinquency,worst_delinquency_past_due_balance
count,16309.000000,16268.000000,1.630400e+04,1.630700e+04,1.630400e+04,1.629600e+04,1.630400e+04,16297.000000,16255.000000,1.629700e+04
mean,474.067631,22.405766,2.779242e+03,3.994739e+04,1.993377e+04,2.398115e+04,3.618910e+03,2.291219,1.541618,1.617189e+03
std,293.165091,77.413143,2.145046e+04,1.337402e+05,1.067213e+05,9.429967e+04,2.816734e+04,8.250868,6.816558,2.845180e+04
min,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00
25%,213.000000,0.000000,0.000000e+00,2.000000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00
50%,466.000000,1.000000,0.000000e+00,6.899000e+03,0.000000e+00,8.925000e+02,0.000000e+00,0.000000,0.000000,0.000000e+00
75%,726.000000,16.000000,5.830000e+02,2.634750e+04,3.224250e+03,1.440600e+04,0.000000e+00,0.000000,0.000000,0.000000e+00
max,999.000000,1800.000000,1.263964e+06,4.883200e+06,4.697583e+06,3.269355e+06,1.915973e+06,96.000000,84.000000,3.234351e+06

In [38]:
data_credit_reports.describe(include=['object', 'bool'])

,institution,account_type,credit_type,payment_frequency,worst_delinquency_date
count,16309,16309,16309,16308,3312
unique,54,8,26,10,1033
top,BANCO,Pagos Fijos,Préstamo Personal,Mensual,0000-00-00
freq,4285,8083,5717,11191,428

In [23]:
pd.concat([data_credit_reports['institution'], data_credit_reports['account_type']]).unique()

array(['MERCANCIA PARA HOGAR Y OFICINA', 'KONFIO', 'TELEFONIA CELULAR',
       'AUTOMOTRIZ', 'BANCO', 'FINANCIERA', 'COMUNICACIONES',
       'TIENDA COMERCIAL', 'MICROFINANCIERA',
       'ADMINISTRADORAS DE CARTERA', 'SERVICIOS', 'HIPOTECAGOBIERNO',
       'CIA Q  OTORGA', 'COBRANZA', 'MERCANCIA PARA LA CONSTRUCCION',
       'BANCOS', 'SERVICIO DE TELEVISION DE PAGA', 'TIENDA DEPARTAMENTAL',
       'TELEFONIA LOCAL Y DE LARGA DISTANCIA', 'VENTA POR CATALOGO',
       'GOBIERNO', 'SOCIEDADES FINANCIERAS POPULARES',
       'SOCIEDAD FINANCIERA DE OBJETO MULTIPLE', 'FONDOS Y FIDEICOMISOS',
       'GUBERNAMENTALES', 'COOPERATIVA', 'COMERCIAL', 'SERVS. GRALES.',
       'CAJAS DE AHORRO', 'COMPANIA DE FINANCIAMIENTO AUTOMOTRIZ',
       'AUTOFINANCIAMIENTO', 'TIENDA DE ROPA', 'ARRENDADORA', 'SIC',
       'COMPANIA DE PRESTAMO PERSONAL', 'OTRAS FINANCIERA',
       'FONDOS Y FIDEIC', 'BIENES RAICES', 'SOFOL PRESTAMO PERSONAL',
       'FACTORAJE', 'COOPERATIVA DE AHORRO Y CREDITO',
       'SOFOL EMPRESARIAL', 'HIPOTECARIA', 'TIENDA DE AUTOSERVICIO',
       'ARRENDAMIENTO', 'HIPOTECARIO NO BANCARIO', 'MIC CREDITO PERS',
       'FONDOS Y FIDEICO', 'EDUCACION', 'KONFIO-10319',
       'COMPANIA DE FINANCIAMIENTO DE MOTOCICLET', 'KONFIO-10222',
       'CABLEVISION DF', 'TELCELMETRO', 'Pagos Fijos', 'Revolvente',
       'Sin Límite Preestablecido', 'Hipoteca', 'Crédito Prendario',
       'Quirografiario', 'Crédito Refaccionario',
       'Crédito de Habilitación de Avío'], dtype=object)

In [21]:
set(data_credit_reports.institution) #| set(data_credit_reports.account_type)

{'ADMINISTRADORAS DE CARTERA',
 'ARRENDADORA',
 'ARRENDAMIENTO',
 'AUTOFINANCIAMIENTO',
 'AUTOMOTRIZ',
 'BANCO',
 'BANCOS',
 'BIENES RAICES',
 'CABLEVISION DF',
 'CAJAS DE AHORRO',
 'CIA Q  OTORGA',
 'COBRANZA',
 'COMERCIAL',
 'COMPANIA DE FINANCIAMIENTO AUTOMOTRIZ',
 'COMPANIA DE FINANCIAMIENTO DE MOTOCICLET',
 'COMPANIA DE PRESTAMO PERSONAL',
 'COMUNICACIONES',
 'COOPERATIVA',
 'COOPERATIVA DE AHORRO Y CREDITO',
 'EDUCACION',
 'FACTORAJE',
 'FINANCIERA',
 'FONDOS Y FIDEIC',
 'FONDOS Y FIDEICO',
 'FONDOS Y FIDEICOMISOS',
 'GOBIERNO',
 'GUBERNAMENTALES',
 'HIPOTECAGOBIERNO',
 'HIPOTECARIA',
 'HIPOTECARIO NO BANCARIO',
 'KONFIO',
 'KONFIO-10222',
 'KONFIO-10319',
 'MERCANCIA PARA HOGAR Y OFICINA',
 'MERCANCIA PARA LA CONSTRUCCION',
 'MIC CREDITO PERS',
 'MICROFINANCIERA',
 'OTRAS FINANCIERA',
 'SERVICIO DE TELEVISION DE PAGA',
 'SERVICIOS',
 'SERVS. GRALES.',
 'SIC',
 'SOCIEDAD FINANCIERA DE OBJETO MULTIPLE',
 'SOCIEDADES FINANCIERAS POPULARES',
 'SOFOL EMPRESARIAL',
 'SOFOL PRESTAMO PERSONAL',
 'TELCELMETRO',
 'TELEFONIA CELULAR',
 'TELEFONIA LOCAL Y DE LARGA DISTANCIA',
 'TIENDA COMERCIAL',
 'TIENDA DE AUTOSERVICIO',
 'TIENDA DE ROPA',
 'TIENDA DEPARTAMENTAL',
 'VENTA POR CATALOGO'}

## Data Preparation

## Modeling

## Evaluation

## Deployment